/* CSS background-image
The background-image property specifies an image to use as the background of an element.

By default, the image is repeated so it covers the entire element.

Example
Set the background image for a page:  */

body {
  background-image: url("paper.gif");
}

/* Example
This example shows a bad combination of text and background image. The text is hardly readable:  */

body {
  background-image: url("bgdesert.jpg");
}
/* The background image can also be set for specific elements, like the <p> element:

Example */
p {
  background-image: url("paper.gif");
}

