/* What are Pseudo-Elements?
A CSS pseudo-element is used to style specific parts of an element.

For example, it can be used to:

Style the first letter or line, of an element
Insert content before or after an element
Style the markers of list items
Style the viewbox behind a dialog box
Syntax
The syntax of pseudo-elements: */

selector::pseudo-element {
  property: value;
}
/* The ::first-line Pseudo-element
The ::first-line pseudo-element is used to add a special style to the first line of a text.

The following example formats the first line of the text in all <p> elements:

Example  */
p::first-line {
  color: #ff0000;
  font-variant: small-caps;
}
/* Note: The ::first-line pseudo-element can only be applied to block-level elements.

The following properties apply to the ::first-line pseudo-element:

font properties
color properties
background properties
word-spacing
letter-spacing
text-decoration
vertical-align
text-transform
line-height
clear */